__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.pid

.idea/
*.iml
*.exe
secrets.env
config.ini
create_table.py
insert.py
classobj.py
constant.py
fetch.py
create_table.py
insert.py
classobj.py
constant.py
fetch.py
