*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: relative;
  font-family: 'poppins', sans-serif;
  background-color: #793e008f;
}

::selection{
  background: #1b1b1b;
  color: #fff;
}

.navbar{
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #b36f4fde;
  z-index: 9;
}

.links-container{
  display: flex;
  list-style: none;
}

.link-item{
  color: #fff;
  margin-left: 10px;
}

.link{
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fffefe;
}
.header{
  margin-top: 60px;
  width: 100%;
  height:850px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../static/images/img.png);
}

.content{
  text-align: center;
}

.heading{
  color: #000000;
  font-style: italic;
  text-transform: capitalize;
  font-size: 80px;
  line-height: 60px;
  margin-bottom: 80px;
}

.header .small{
  display: block;
  font-size: 40px;
}

.header .small1{
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.header .no-fill{
  font-style: italic;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.blog{
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  border-color: #793e008f;
}

.blog:hover{
  background-color: #b36f4fde;
  color: #fff;
}
.post{
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  border-color: #793e008f;
}
.read{
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'poppins', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  border-color: #793e008f;
}
.blog:hover{
  background-color: #b36f4fde;
  color: #fff;
}
.post:hover{
  background-color: #b36f4fde;
  color: #fff;
}
.read:hover{
  background-color: #b36f4fde;
  color: #fff;
}
.blogs-section{
  width: 100%;
  padding: 50px 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.typing-image{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 0;
}

.blog-overview1{
  line-height: 30px;
}

.blog-title1{
  width: 100%;

}
.blog.dark{
  background: #000000;
  color: #fff;
}
.post.dark{
  background: #000000;
  color: #fff;
}
.read.dark{
  background: #000000;
  color: #fff;
}

.logo{
  width:10%;
  height:50px;
  width: 150px;
  border-radius: 10px;
}
.b1-image{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 0;
  height:65% 
}

.or{
  color: #000000;
  size: 10em;
}

.already{
  color: #ffffff;
}
.a{
  color: #ffffff;
}
.wds{
  margin-left: 0;
}
.text-center-text-white{
  background-color: #f1f1f1;
}
.text-center text-dark p-3{
  background-color: rgba(0, 0, 0, 0.2);
}
.header .username{
  font-style: italic;
  -webkit-text-stroke: 2px #ffffff;
}
