body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bb78308f;
  color: #fff;
}

.post-details {
  max-width: 800px;
  margin: 20px auto;
  background-color: #2b1804f3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

#comment-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 5px;
}

.btn {
  background-color: #bd8150;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background-color: #9c6830d7;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .post-details {
      padding: 10px;
  }
}

.author-blog {
  display: flex;
  justify-content: space-between;
}

.author-blog p {
  margin: 0;
}
