<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" type="text/css" content="width=device-width, initial-scale=1.0">
  <title>Create an Account</title>
  <link rel="stylesheet" href="../../static/css/accountcreation.css">
</head>
<body>
    <div class="image-container">
        <img id="img" src="../../static/images/img.png" alt="">
    </div>
   
    <div class="dd">
  <div class="container">
    <form id="accountcreation" class="accountcreation" method="POST" action="/register" autocomplete="off">
      <h1>Hi,create an account for free!</h1>
      <input type="text" name="name" id="name" placeholder="Name" required>
      <input type="email" name="email" id="email" placeholder="Email" required>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
      <button class="createaccount" type="submit">Create Account</button>
      <div class="or">Or</div>
      <button id="loginButton" class="login" type="button">Login</button>
    </form>
  </div>
</div>
<script src="../../static/accountcreation.js"></script>
</body>
</html>
